*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img{
    width: 40px;
    height: 40px;
}

.card-img-top{
    width: 287px;
    height: 287px;
    object-fit: cover;
}

.horizontal-card{
    width: 155px;
    height: 220px;
    object-fit: cover;
}

.icono-card{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.boton{
    border-style: none;

}

footer{
    height: 70px;
    width: 100%;
    background-color: #f8f9fa;
    color: black;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}